.UserAuthPage {
    background: url(src/assets/pic1.jpg) no-repeat;
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}