.Hometext.title {
    font-weight: 600;
}

.Hometext {
    font-family: 'Poppins', sans-serif;
}

.Hometext.header {
    margin-left: 15px;
    margin-bottom: 15px;
}

.prepStep {
    font-family: 'Poppins', sans-serif;
}

.stepDisplay {
    display: flex;
}

/* #right-side {
    float: right;
}

#left-side {
    float: left;
} */

