
.ProfilePagePicture {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    margin: auto;
    margin-top: 70px;
}

@media screen and (max-width: 1100px) {
    .ProfilePagePicture {
        height: 300px;
        width: 300px;
    }
}
@media screen and (max-width: 910px) {
    .ProfilePagePicture {
        height: 250px;
        width: 250px;
    }
}
@media screen and (max-width: 760px) {
    .ProfilePagePicture {
        height: 225px;
        width: 225px;
    }
}

.ProfileBorder {
    border-bottom: 2px solid #2C2639;
    padding: 0px 20px 40px 20px;
}

.UserInform {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
    
    height: 100%;
}
@media screen and (max-width: 600px) {
    .UserInform {
        margin-left: -40px;
    }
}
@media screen and (max-height: 700px) {
    .UserInform {
        margin-Bottom: 200px;
    }
}
.UserInformBox {
    background: #2C2639;
    padding: 20px;

    margin-top: 40px;
    border-radius: 20px;
}

@media screen and (max-width: 1020px) {
    .UserInformBox {
        width: 90%;
    }
}

.usertext {
    font-family: 'Poppins', sans-serif;
}

